<footer class="bg-light">
    <!-- <ng-template [ngIf] = 'isloginusers' [ngIfElse] ="logoutuser">
        <h1>Welcome to the footer design</h1>
    </ng-template>

    <ng-template #logoutuser>
        <h1>welcome {{name}}</h1>
    </ng-template>

    <ng-template>
        <h2>hello this is ng template it will not showing directly to the dom part of the page</h2>
    </ng-template>

    <input type="text" [disabled]="isDisballed" value="{{getuserdata()}}"/>
    <br><br>
    <input type="text" disabled="{{isDisballed}}" value="{{name}}"/>
    <br><br>
    <button (click)="alertBox('string')">Click Here to show alert box</button>
    <br><br>
    <input type="text" #textID (keyup.enter)="keyupmethod(textID.value)" value=""/>

    <!-- <input type="text" (keyup)="runtimetext($event.target.value)" value=""/> -->
    <span>All Right Reserved &#169;	2022</span>
</footer>