<section class="sidebar bg-light">
  <h4 class="text-center">PORTAL</h4>
  <ul class="list-unstyled mt-4">
    <li class="nav-item">
      <a routerLink="/" class="nav-link"> <i class="bi bi-speedometer me-1"></i> Dashboard</a>
    </li>
    <li class="nav-item">
      <a routerLink="/employee-table" class="nav-link"> <i class="bi bi-person-check-fill me-1"></i> Employee
        Records</a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin-profile" class="nav-link"> <i class="bi bi-person-check-fill me-1"></i> Profile</a>
    </li>
    <li class="nav-item">
      <a routerLink="/logout" class="nav-link"> <i class="bi bi-box-arrow-right me-1"></i> Logout</a>
    </li>
    <li class="nav-item">
      <a routerLink="/timesheet" class="nav-link"> <i class="bi bi-alarm me-1"></i> Timesheets</a>
    </li>
    <li class="nav-item">
      <a routerLink="/report" class="nav-link"> <i class="bi bi-file-bar-graph me-1"></i> Reports</a>
    </li>
  </ul>
</section>
